.row.center-xs.middle-xs.full-height
    .box
        .col-xs-12
            %h1 Ventagro
            .top-space
                %p Nuestro proposito es desarrollar alimentos para animales y obtener el rendimiento mas alto en cada especie segun su linea genetica.
                %p Guardando los requerimientos nutricionales establecidos como norma internacional

.row.center-xs
    .box
        .col-xs-12.col-sm-3
            %h2 Productos
.row.center-xs
    .box
        .col-xs-12
            %h3 Nucleos
.row.center-xs
    .box
        .col-xs-12
            %table{style:"width:100%"}
                %tr
                    %th Pollo Engorde
                    %th Gallina Ponedora
                    %th Cerdos
                    %th Vacuno
                %tr
                    %td Pollo engorde Pre-Inicio
                    %td Gallina ponedora Fase 1 y 2
                    %td Lactancea
                    %td Feet Loth
                %tr
                    %td Pollo engorde Inicial
                    %td Pollita inicio
                    %td Gestacion
                    %td Ganado Mantenimiento
                %tr
                    %td Pollo engorde Final
                    %td Pollita Crecimiento
                    %td Pre-Inicio
                    %td Ternera Desarrollo
                %tr
                    %td
                    %td Pollita Desarrollo
                    %td Cerdo Inicial
                    %td Ganado lechero de mediana produccion
                %tr
                    %td
                    %td Pollita Prepostura
                    %td Cerdo Desarrollo
                    %td Ganado lechero al 18% de proteina
                %tr
                    %td
                    %td
                    %td Cerdo Crecimiento
                    %td Ganado lechero Alta Produccion
