.row.center-xs.middle-xs.full-height
    .box
        .col-xs-12
            %h1 Ventagro
.row
    .box
        .col-xs-12.col-sm-3
            %h2 Productos
    .box
        .col-xs-12.col-sm-3
            %h2 avicolas
    .box
        .col-xs-12.col-sm-3
            %h2 Ganadero
    .box
        .col-xs-12.col-sm-3
            %h2 Servicios
