.image-container
    =image_tag("portada.jpg")
.row.center-xs.middle-xs.full-height.relative
    .col-xs-12
        .box
            = image_tag("logo-ventagro.png")
            .top-space.logo-font.font-medium
                %p Nuestro proposito es desarrollar alimentos para animales y obtener el rendimiento mas alto en cada especie segun su linea genetica.
                %p Guardando los requerimientos nutricionales establecidos como norma internacional
.row.center-xs.light-green.logo-font
    .col-xs-12.col-sm-3
        .box
            %h2 Productos
.row.center-xs.green.white-text.logo-font
    .col-xs-12
        .box.big-padding
            %h2.white-text.font-subtitle Nucleos
            %table{style:"width:100%"}
                %tr
                    %th Pollo Engorde
                    %th Gallina Ponedora
                    %th Cerdos
                    %th Vacuno
                %tr
                    %td Pollo engorde Pre-Inicio
                    %td Gallina ponedora Fase 1 y 2
                    %td Lactancea
                    %td Feet Loth
                %tr
                    %td Pollo engorde Inicial
                    %td Pollita inicio
                    %td Gestacion
                    %td Ganado Mantenimiento
                %tr
                    %td Pollo engorde Final
                    %td Pollita Crecimiento
                    %td Pre-Inicio
                    %td Ternera Desarrollo
                %tr
                    %td
                    %td Pollita Desarrollo
                    %td Cerdo Inicial
                    %td Ganado lechero de mediana produccion
                %tr
                    %td
                    %td Pollita Prepostura
                    %td Cerdo Desarrollo
                    %td Ganado lechero al 18% de proteina
                %tr
                    %td
                    %td
                    %td Cerdo Crecimiento
                    %td Ganado lechero Alta Produccion
.row.center-xs.logo-font
    .col-xs-12
        .box
            %h1 Servicios
            .row.logo-font
                .col-xs-12.col-sm-5
                    .box
                        %p Construccion de maquinaria para hacer concentrado
                .col-xs-12.col-sm-6
                    .box
                        %p Planta de maquilacion de concentrado
