html, body{
    height: 100%;
}

.full-height{
    height: 100%;
}

.top-space{
    margin-top: 1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}
